.about {
  width: 100%;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.about_content {
  width: 50%;

  background-color: #ffdf6e;
  color: #207de9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.aTitle {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.aboutParagraph {
  font-size: 20px;
  text-align: left;
  margin-left: 7px;
}

.video {
  background-color: #f0f0f0;
  width: 50%;
}

.aboutVideo {
  width: 100%;
  margin: auto;
  height: 100%;
  margin: auto;
}

@media only screen and (max-width: 490px) {
  .about {
    width: 100%;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack the divs vertically on smaller screens */
  }

  .about_content {
    width: 100%; /* Make the content div take full width on smaller screens */
    background-color: #ffdf6e;
    color: #207de9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .video {
    background-color: #f0f0f0;
    width: 100%;
  }
}
@media screen and (min-width: 420px) and (max-width: 840px) {
  .about {
  }
}
