.hero-section{
    display: flex;
    flex-direction: row;
    background-color:  rgb(32,125,233);
    height: fit-content;
    padding: 40px;
    margin-top: -90px;
}
.logodiv{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.logoimg{
    flex: 1;
    width:80%;
    height:40%;
    margin-top: 25%;

}

.yellowtext{
    flex:1;
    color:  rgb(255,223,110);
    font-size: 30px;
    margin-bottom: 5%;
}

.shopnow{
    
    color:  rgb(255,223,110);
    border-radius: 30px 30px;
    background-color:rgb(32,125,233) ;
    border-color:  rgb(255,223,110);
    width: 200px;
    height: 50px;
    font-size: 26px;
    margin-bottom: 100%;
    border-width: 3px;

}
.shopnow:hover{
cursor: pointer;
background-color:rgb(255,223,110) ;
color: rgb(32,125,233) ;

}
.section3{
    flex: 1;
    align-items: center;
    justify-content: center;
}
.hero2{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative; /* Add position relative to the parent */

}
.hdiv2{
    width:90%;
    height: 80%;
    flex: 1;
}
.yellow-background {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 100%;
    height: 50%;  /* Adjust the height as needed */
    background-color: rgb(255, 223, 110);
    z-index: -1; /* Send it to the back */
  }

@media (max-width: 500px) {
    .hero2 {
        display: none; /* Hide the second div under 500px */
    }

    .shopnow{
    
       
        width: 200px;
        height: 50px;
        font-size: 26px;
        margin-top: 30%;
        border-width: 3px;
    
    }
}